app = "codytoken"
primary_region = "lax"

[build]
dockerfile = "Dockerfile"

[processes]
app = "node_modules/.bin/next start -p 3000"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 1
processes = ["app"]
concurrency = { type = "requests", soft_limit = 25, hard_limit = 50 }

[[http_service.checks]]
grace_period = "30s"
interval = "15s"
method = "GET"
path = "/api/healthz"
protocol = "http"
restart_limit = 3
timeout = "10s"


[[vm]]
cpu_kind = "shared"
cpus = 1
memory_mb = 1024
processes = ["app"]
